<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Baloo+Bhaijaan" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <header>
    <span id="logo">MyTodos</span>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/todos">Todos</a>
    </nav>
  </header>
  <div id="wrapper">
