<% include ./partials/header %>

<h1 class="text-center">About this project</h1>
<p class="text-center">Check out the project on <a href="https://git.generalassemb.ly/aemiro-allison/express-todo-app">Github</a></p>

<br>
<br>

<h2>Technologies Used<h2>

<br>

<h3>Database:</h3>
<table>
  <thead>
    <tr>
      <td>Technology</td>
      <td>Description</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Postgres</td>
      <td>A powerful, open source object-relational database system to store data.</td></tr>
    <tr>
      <td>pg-promise</td>
      <td>The nodejs driver to connect to the Postgres database.</td>
    </tr>
  </tbody>
</table>


<h3>Views:</h3>
<table>
  <thead>
    <tr>
      <td>Technology</td>
      <td>Description</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>HTML</td>
      <td>The structure of a web page</td>
    </tr>
    <tr>
      <td>CSS</td>
      <td>Provide styling to the HTML of a web page.</td>
    </tr>
    <tr>
      <td>EJS</td>
      <td> The templating engine that generates the HTML with a template and its data on the server.</td>
    </tr>
    <tr>
      <td>Javascript</td>
      <td>Allowing a web page to be interactive by allowing additional functionality to the web page.</td>
    </tr>
  </tbody>
</table>

<h3>Server:</h3>
<table>
  <thead>
    <tr>
      <td>Technology</td>
      <td>Description</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Node.js</td>
      <td>The server that is a javacsript client side runtime that allows javacsript to run outside of the browser.</td>
    </tr>
    <tr>
      <td>Express.js</td>
      <td>A Node.js framework that makes using Node.js as a server more developer friendly.</td>
    </tr>
  </tbody>
</table>

<% include ./partials/footer %>
