<% include  ./partials/header %>

<h1>Welcome to My <br> Todo App</h1>
<img class="image-center" src="https://cdn.shopify.com/s/files/1/0561/8477/products/MoroccanWhite-2_1024x1024.png?v=1464867023" alt="notebook picture">

<% include  ./partials/footer %>
