<% include ../partials/header %>

  <h1>Title:       <%= data.title %></h1>
  <h3>Completion:  <%= data.completion %></h3>
  <small>Category: <%= data.category %></small>
  <p>Description:  <%= data.description %></p>
  <hr>

<% include ../partials/footer %>
