<% include ../partials/header %>

<a href="/todos">Go Back</a>

<h1>Add a Todo</h1>
<form action="/todos" method="POST">
  <input name="title" type="text" placeholder="Title" autofocus>
  <input class="hidden" name="completion" type="text" value="to-do">
  <input name="category" type="text" placeholder="Category">
  <input name="description" type="textarea" placeholder="description">
  <input type="submit" value="ADD TODO">
</form>

<% include ../partials/footer %>
